VITE_LEMON_CHECKOUT_URL=https://movepath.lemonsqueezy.com/checkout/buy/8c5089a8-7ffc-4307-87f0-ae8b10fd9c59
VITE_LEMON_STORE_ID=440256
VITE_LEMON_PRODUCT_ID=1249954
VITE_LEMON_VARIANT_ID=1953946
VITE_SUPPORT_EMAIL=abdulla11099@gmail.com
